body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1a1a1a;
    color: #ffffff;
}

.header, .footer {
    background-color: #333;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
}

nav .nav-link {
    font-weight: bold;
}

#lateralMenu {
    overflow-y: auto;
    max-height: calc(99vh - 52px);
}

#lateralMenu ul {
    list-style-type: none;
    padding: 0;
}

#lateralMenu ul li {
    margin-bottom: 20px; /* Added margin-bottom to list items */
}



#lateralMenu ul li a {
    text-decoration: none;
    color: #ffffff;
    display: flex;
    align-items: center;
    border: 2px solid #444;
    padding: 10px; /* Added padding */
    border-radius: 5px;
    transition: border-color 0.3s, background-color 0.3s;
}


#lateralMenu ul li a:hover {
    border-color: #888;
}

#lateralMenu ul li a img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 5px; /* Rounded corners */
}

#lateralMenu ul li a span {
    margin-left: 10px; /* Margin for span */
}

#lateralMenu ul li a.active {
    border-color: #888;
    background-color: #444;
}

.animation-display iframe {
    width: 100%;
    height: 80vh;
    border: 2px solid #444;
    border-radius: 5px;
    margin-top: 20px;
}

.bg-custom {
    background-color: #2a2a2a;
    transition: border-color 0.3s, background-color 0.3s;
    border:2px solid #444;

    
}

.bg-custom a:hover {
    border-color:#888;
    text-decoration: none;
}

.bg-custom a.active {
    background-color: #444;
    border-color:#888;
}

/* Width of the scrollbar */
#lateralMenu::-webkit-scrollbar {
    width: 10px;
}

/* Track (background) of the scrollbar */
#lateralMenu::-webkit-scrollbar-track {
    background: #2a2a2a; /* Change background color of the track */
}

/* Handle (thumb) of the scrollbar */
#lateralMenu::-webkit-scrollbar-thumb {
    background-color: #555; /* Color of the scrollbar thumb */
    border-radius: 5px; /* Rounded corners of the thumb */
    border: 2px solid #2a2a2a; /* Border around the thumb */
}

/* Handle on hover */
#lateralMenu::-webkit-scrollbar-thumb:hover {
    background-color: #777; /* Darker background color on hover */
}
